<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Новости</title>
    <link rel="icon" href="/img/news.ico"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<th:block th:insert="~{layouts/header.html::headerLayout}"></th:block>
<th:block th:insert="~{layouts/button.html:: buttonLayout}"></th:block>
<main>
    <th:block th:insert="~{layouts/navigation.html::navigationLayout}"></th:block>
    <div class="container">
        <div th:if="${news.isEmpty()}" class="empty">Список новостей пуст</div>
        <div th:each="news : ${news}" class="news">
            <h3>[[${news.header}]]</h3>
            <span th:text="${news.user.fio + ' [' + #dates.format(news.date, 'dd.MM.yyyy HH:mm') + ']'}"></span>
            <p>[[${news.text}]]</p>
        </div>
    </div>
</main>
<script src="/js/script.js"></script>
</body>
</html>
