<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <link rel="icon" href="/img/news.ico"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<th:block th:insert="~{layouts/header.html::headerLayout}"></th:block>
<main>
    <th:block th:insert="~{layouts/navigation.html::navigationLayout}"></th:block>
    <form method="post" action="/logout" class="form-logout">
        <input type="submit" value="Выйти" class="form-button">
    </form>
</main>
</body>
</html>